@import "../../colourScheme/colourScheme.scss";

.currencyConversion_container {
  color: $text-colour;
  padding: 15px 150px;
  height: 87.5vh;
  box-sizing: border-box;
  background-color: $light-bg-colour;
}

.currencyConversion_header {
  margin: 20px 0;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.currencyConversion_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currencyConversion_title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.currencyConversion_USD,
.currencyConversion_EUR,
.currencyConversion_GBP,
.currencyConversion_any {
  background-color: $light-bg-colour;
  border: $border-colour 2px solid;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  width: 50vw;
  text-align: center;
}

.currencyConversion_label {
  margin-right: 10px;
  font-weight: 500;
}

.currencyConversion_input {
  border: $border-colour 2px solid;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 15px;
  margin-top: 15px;
  background-color: $light-bg-colour;

  & + .currencyConversion_label {
    margin-left: 50px;
  }

  &.currencyConversion_select {
    width: 206px;
    margin: 0 50px 0 0;
  }
}

.currencyConversion_info {
  font-size: 15px;
  margin: 15px 0 0 0;
}

.currencyConversion_loader {
  display: inline-block;
  border: 2px solid $light-bg-colour;
  border-top: 2px solid $border-colour;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
