.currencyConversion_container {
  background-color: #cae6b2;
  padding: 20px 150px;
}

.currencyConversion_header {
  margin: 0 0 20px 0;
  text-align: center;
}

.currencyConversion_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currencyConversion_title {
  color: #fff;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.currencyConversion_USD,
.currencyConversion_EUR,
.currencyConversion_any {
  background-color: #8ed15e;
  border: #fff 2px solid;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  width: 50vw;
  text-align: center;
}

.currencyConversion_label {
  margin-right: 10px;
  font-weight: 500;
  color: #fff;
}

.currencyConversion_input {
  border: #fff 2px solid;
  border-radius: 15px;
  padding: 5px 10px;
  color: #27490e;
  font-size: 15px;
  margin-top: 15px;

  & + .currencyConversion_label {
    margin-left: 50px;
  }

  &.currencyConversion_select {
    background-color: #cae6b2;
    width: 206px;
    margin: 0 50px 0 0;
  }
}

.currencyConversion_info {
  font-size: 15px;
  color: #fff;
  margin: 15px 0 0 0;
}

.currencyConversion_loader {
  display: inline-block;
  border: 2px solid #cae6b2;
  border-top: 2px solid #27490e;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
