@import "../../colourScheme/colourScheme.scss";

.navigation_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-colour;
  color: $text-colour;
  height: 50px;
  z-index: 20;
}

.navigation_alert {
  height: 25px;
  width: 100%;
  position: absolute;
  top: 50px;
  color: #fff;
  background-color: $bg-warning-colour;
  z-index: 10;
  transition: all 1s ease-in-out;

  & p {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  & a {
    outline: none;
    color: #fff;
  }

  & span {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }

  &.alert_close {
    top: 0;
    opacity: 0;
  }
}

.navigation_list {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 0.5rem 0 0;
}

.navigation_item {
  height: 100%;
  width: 150px;
  box-sizing: border-box;
  padding-top: 15px;
  border-right: $border-colour 1px solid;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: $text-colour;

  &.navigation_active-link {
    background-color: $light-bg-colour;
    font-weight: 700;
  }

  &:hover {
    background-color: $light-bg-colour;
    transition: all 0.6s ease-in-out;
  }
}
