@import "../../colourScheme/colourScheme.scss";

.footer-container {
  width: 100%;
  padding: 15px 30px;
  color: $text-colour;
  background-color: $bg-colour;
  box-sizing: border-box;
  // border-top: #898952 2px solid;
}
