@import "../../colourScheme/colourScheme.scss";

.exchangeRate_container {
  width: 45%;
}
.exchangeRate_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
}

.exchangeRate_loader {
  border: 2px solid $light-bg-colour;
  border-top: 2px solid $border-colour;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
